<div class="container bg-light input__box">
    Enter the number of cities to get weather from:
    <form class="form-inline">
        <div class="form-group mb-2">
          <label class="sr-only">Number of cities:</label>
          <input type="number" class="form-control" id="number" value="1">
        </div>
        <button type="submit" class="btn btn-success mb-2">Go!</button>
      </form>
</div>

<div class="container city__data bg-light">

</div>


<p>{{lat}}</p>
<p>{{long}}</p>


<button (click)="getWeather()" class="btn btn-primary">get wx</button>

